[2018-05-13 16:05] abhishek71994 opened #1 "Design the backend"
Thinking of designing the backend using graphQL.

[2018-05-25 04:00] abhishek71994 opened #2 "Create-react-app or create an app from scratch?"

[2018-05-29 05:42] abhishek71994 opened #3 "Setup server and front end"

[2018-05-30 22:30] abhishek71994 opened #4 "Design the backend system"
Make all the sketches and the wireframes. Also design the backend.

[2018-05-30 22:31] abhishek71994 opened #5 "Add user authentication"
If possible add user auth to the process. Sign in using oauth maybe an option(This is an enhancement).

[2018-07-08 16:25] abhishek71994 opened #6 "Create a basic sign up page"

[2018-08-13 11:22] abhishek71994 opened #7 "setup graphql queries(REDUNDANT)"

[2018-09-15 21:16] abhishek71994 opened #8 "Design basic UI or refer to a template"
It would be really cool to have a UI or a atleast a basic ui design

[2018-09-25 04:30] abhishek71994 commented on #8
https://material-ui.com/

We would probably use material design to set up a basic UI.

[2018-09-25 04:30] abhishek71994 commented on #2
Created an app using meteor.

[2018-09-25 04:30] #2 closed

[2018-09-25 04:31] abhishek71994 commented on #3
Basic setup is complete need to expand on this.

[2018-10-01 16:53] harshil1712 commented on #8
I would like to work on this

[2018-10-02 03:31] abhishek71994 commented on #8
GO for it @harshil1712 I would like to give an idea of the way I hope to take the project before you working on it. So that it works out in that way.

[2018-10-02 06:07] hiteshpr commented on #8
I can work on this.

[2018-10-02 07:11] harshil1712 commented on #8
@abhishek71994 sure, please provide the details.

[2018-10-02 17:15] abhishek71994 commented on #8
https://join.slack.com/t/wripplefoss/shared_invite/enQtNDQ2OTAzODU4MjI0LTQ0NGY1Mzk5OTI2ZDRkZDE4YzQzZTM4MTBhZWJlZjY2NDcxMmMwNzc0MjRmMzM3NjdiMGVmYTM4ODdkMDMzMTk

Join the slack channel using this link, we can discuss the matter there.

[2018-10-16 02:32] abhishek71994 opened #9 "Implement cards in the UI"
This feature would, in future, show the mentors to the users.

This [link](https://v0.material-ui.com/#/components/card) would be helpful.
At the moment just any dummy data would be okay. In future, we will pair this with the back-end.

[2018-10-16 06:55] abhishek71994 commented on #9
@susmitagr8 Look into this issue please.

[2018-10-18 05:45] abhishek71994 opened #10 "Create some UI changes"
Remove the global css padding and margin that is inherent.

[code]

Also change the Navbar color to #8e44ad(this might change in future)

[2018-10-22 03:13] abhishek71994 commented on #10
@lisinhong I will look into the PR asap.

[2018-10-22 03:17] abhishek71994 opened #13 "Implement redux into the application along with redux thunk"
Will provide the details soon. Those who can implement a basic store can go right ahead.

[2018-10-22 03:17] abhishek71994 commented on #6
What can be done is the include redux into this first. Then work on this one. Let me reference an issue. #13 check this issue out.

[2018-10-22 03:20] abhishek71994 opened #14 "Implement redux and redux-thunk"
I will be providing details soon. But anyone who knows how to code a store can go right ahead.

Argument for redux-saga can be made in the comments.

[2018-10-24 04:48] #14 closed

[2018-10-24 04:50] abhishek71994 commented on #9
@susmitagr8 please reply whether you'll be working on this issue.

[2018-10-24 12:30] abhishek71994 commented on #13
No worries, I'll post the links that would be required for making a nice PR. Thank you for your interest. Will get back to you in a couple of hours.

[2018-10-24 14:08] abhishek71994 commented on #13
@srivastavarnav you could use this link to join our slack channel and get involved with other contributors.  https://join.slack.com/t/wripplefoss/shared_invite/enQtNDU4MjAyNjI0Nzg1LTEzNjFhMmQ3YzM3Yjk4ZjMzZDlkZWJjNTVkOGUwZjliNWNlMDNiYTNiMjQ0Mzg0MGM2Njg0YzVjNTFiNmI1NTA

[2018-10-28 03:02] #10 closed

[2018-10-28 08:28] abhishek71994 commented on #9
Thank you @susmitagr8.

[2018-11-01 18:00] abhishek71994 opened #17 "Setup A basic backend connectivity"
Add basic registration, sign in/log out with the backend.

[2018-11-11 07:39] #8 closed

[2018-11-11 07:40] #9 closed

[2018-11-11 07:41] abhishek71994 opened #18 "Setup routing"
Use react router to set up protected routing and basic routing.

[2018-11-11 07:41] #1 closed

[2018-11-11 07:41] #3 closed

[2018-12-02 16:18] abhishek71994 opened #19 "Create wireframes"

[2018-12-02 16:18] abhishek71994 commented on #19
@susmitagr8 want to take this issue?

[2018-12-03 13:12] susmitagr8 commented on #19
working on it.

On Sun, Dec 2, 2018 at 9:48 PM Abhishek Prasad <notifications@github.com>
wrote:

[2018-12-03 15:23] abhishek71994 opened #21 "Continuous Integration"
At the moment we are to just conduct a small research and see what we can come up with.

[2018-12-17 07:06] #13 closed

[2018-12-19 10:33] abhishek71994 opened #22 "implement redux dev tools and create redux login(REDUNDANT)"
Need to design basic wireframes and features

[2018-12-26 10:04] abhishek71994 opened #23 "Coding the schema design into the typedefs(REDUNDANT)"
Create the 3 base schema designs that are required for the basic application.

[2018-12-27 06:53] abhishek71994 opened #24 "Resolvers for the typedefs(REDUNDANT)"
The typedefs need resolvers to render data. Set up a dummy data file to export data.

Once that is done the Backend design can be implemented.

[2019-01-03 12:48] abhishek71994 opened #25 "Setup dev environment and production environment(REDUNDANT)"
Decide on which server and DB that should be used. See if AWS can be applied to this.

[2019-01-27 06:56] abhishek71994 opened #26 "design specs and documentation(ONGOING)"

[2019-02-12 06:59] abhishek71994 opened #27 "Backend : sign-up P1"
Create a mutation to update the redis server for a temporary post
Generate an email with a magic URL which will, upon visiting, move the user from redis cache to the main mongo DB.(This will be an issue in itself)

Basically the point is to create mutations to make a change in the db/cache and then generate a magic url.

[2019-02-14 06:34] abhishek71994 opened #28 "Backend : sign-up P2 (Magic link)"
Create a magic link for the user to hit (using redis cache probably/mongodb).
Then shift that to the mongoDB (after making certain checks)

Expectations:
* on creation of user(in the redis cache/mongo db), send an email using a background worker.
[code]

* When updated using that link, change the verified field to ``` true ```

_Depending on whether we end up using redis or mongo, do the next proc

[2019-02-14 06:46] abhishek71994 opened #29 "Backend : sign-up P3(Details)"
## protected url, only verified people will be allowed to use this

This issue comprises of getting all the details necessary for creating a full blown mentor/mentee profile.

Expectations:
* use mutations to update the features related to the user

[code]

[2019-02-14 11:28] abhishek71994 commented on #29
For mentors,
[code]

[2019-02-14 11:40] abhishek71994 opened #30 "Backend : login P1"
This feature is supposed to help the user(mentor/mentee) to login to the system.

Requirements:

* The request must be of the following type:
[code]

* The return should be a *token( preferrably JWT )* along with the username/email(_this for querying_)

[2019-02-14 11:47] #7 closed

[2019-02-14 11:47] #17 closed

[2019-02-14 11:49] #24 closed

[2019-02-14 11:49] #23 closed

[2019-02-14 11:49] #22 closed

[2019-02-14 11:50] #25 closed

[2019-02-14 11:51] abhishek71994 commented on #5
#30 is also dependent on this.

[2019-02-15 06:26] abhishek71994 opened #31 "FrontEnd : Creating a nice landing page"
Expectations:

* The landing page should have hero text and hero image.(Should have a modern look to it)
* It should have a navbar with relevant links.
* Upon clicking the login/signup button there should be a pop up, with the respective forms.
* footer with links to the social links

[2019-02-15 06:50] abhishek71994 opened #32 "Backend : Schedule a webinar(Mentor feature)"
The mentor should have a button somewhere in the top right that show's "Schedule a webinar"/any relevant icon.

Expectations:
* Upon clicking the button a pop up will appear.
* Will take up the basic information required to create a webinar.
* Once the webinar is set. (NOTIFY all the followers, doubtful about this feature)
* Create the details required for the webinar for front-end.
      namely -

[2019-02-15 07:03] abhishek71994 opened #33 "Backend : Join a webinar(Mentee)"
The following feature is supposed to let mentee's join in with the webinar

Expectations:

* Map the mentee ID with that of the webinar.
* Increase the attendance count on the webinar data.
* Upon clicking join, the mentee will get a pop up to confirm and then they will receive an email regarding the joining link and the time(With a feature to add it to their google calendar)

[2019-02-24 05:56] abhishek71994 opened #34 "Update contributing.md"
Expectations:
* new updated template merging it with the instructions in the old one.

use [this link](https://gist.githubusercontent.com/PurpleBooth/b24679402957c63ec426/raw/5c4f62c1e50c1e6654e76e873aba3df2b0cdeea2/Good-CONTRIBUTING.md-template.md) as a template
Include the current PR style in it.

* Also add an issue creation section which will have the link to [this page](https://embeddedartist

[2019-02-24 06:49] palashg7563 commented on #34
Would love to take this issue @abhishek71994

[2019-02-24 07:06] abhishek71994 commented on #34
Go for it, fork, change and then PR

[2019-02-27 07:15] abhishek71994 opened #37 "Backend : Add mentorType to schema"
# Expected Behavior

The mentorType is to be added to the schema in server-api/schema/index.js

# Current Behavior

MentorType is not added

## Instruction

* setup the following object type:
[code]

* upon creating that the compilation should show no error and should have no conflicts with the master branch.

[2019-02-28 04:43] akshataw commented on #31
I would like to work on this.

[2019-02-28 06:39] abhishek71994 commented on #31
Okay @akshataw, let's talk in the discord/slack channel for creating more issues for you.

[2019-02-28 08:52] palashg7563 commented on #31
@abhishek71994 i would also like to work on this

[2019-02-28 08:55] abhishek71994 commented on #31
@palashg7563 same instructions as I had given to @akshataw.
We have multiple aspects of this issue so there is ample work for anyone, I will create specific issues tailored to the contributor.

[2019-02-28 09:30] sweezy793 commented on #37
I would like to work on this issue

[2019-02-28 15:47] palashg7563 commented on #30
@abhishek71994 i want to take this issue

[2019-02-28 15:48] abhishek71994 commented on #30
So this particular issue would have sub-issues I will be needing you help with them as well. Can we talk in the slack/discord server and create those issues asap?

[2019-02-28 15:57] palashg7563 commented on #30
yeah sure

[2019-03-01 13:49] abhishek71994 opened #39 "Backend : Add Eslint and mongoose"
Add eslint, babel and mongoose to the backend API

# Expected Behavior

Add the packages and update the .babelrc file.

# Current Behavior

No babel/mongoose added

[2019-03-01 13:49] abhishek71994 commented on #39
@palashg7563 #38 has all these features added right?

[2019-03-01 15:41] palashg7563 commented on #39
@abhishek71994 yes eslint and babel are working fine

[2019-03-01 15:41] palashg7563 commented on #39
and need to work on eslint rules 😄

[2019-03-01 15:50] palashg7563 commented on #34
@abhishek71994 can you please close the issue if resolved

[2019-03-01 16:12] Sbabureddy commented on #18
Give me a chance to work on it and specify which pages(components ) their route name (if already fixed by the team).

[2019-03-01 16:43] abhishek71994 commented on #39
Good work!

[2019-03-01 16:44] #39 closed

[2019-03-01 16:50] abhishek71994 commented on #34
@palashg7563 can you please update the installation section? now that we have both backend and frontend established?

[2019-03-01 16:53] palashg7563 commented on #34
Yes Sure @abhishek71994

[2019-03-01 16:55] abhishek71994 commented on #37
@sweezy793 go ahead

[2019-03-02 11:41] #37 closed

[2019-03-02 11:42] abhishek71994 commented on #27
@palashg7563 @sweezy793 the next task if either of you are interested please DM me on slack.

[2019-03-02 12:09] abhishek71994 commented on #27
Dont focus on the description, we have to change that.

[2019-03-02 18:41] abhishek71994 opened #45 "Logo for mentorFix"
# Expected Behavior

Create a logo for mentor fix

# Current Behavior

There is no logo at the moment

It's expected for the assignee to push the updated resource into the repo after finishing it up

[2019-03-02 18:59] akhilmhdh commented on #45
I am interested to work on this issue.

[2019-03-02 19:00] imrajat24 commented on #45
I would also like to work on this issue

[2019-03-02 19:12] abhishek71994 commented on #45
Not to make it a competition, let @akhilmhdh work on this at the moment. @imrajat24 let's find another issue for you please.

[2019-03-02 19:13] imrajat24 commented on #45
@abhishek71994  No problem

[2019-03-03 03:50] palashg7563 commented on #30
@abhishek71994 assign me both sign in and singup up api

[2019-03-03 03:51] palashg7563 commented on #27
@abhishek71994 @laveesh ohk assign me this one i want to do this

[2019-03-06 04:53] palashg7563 commented on #45
@akhilmhdh have you comeup with something?

[2019-03-11 06:47] abhishek71994 commented on #18
#44 takes care of this

[2019-03-11 09:55] palashg7563 commented on #18
@abhishek71994 routing is already setup in #44

[2019-03-11 11:20] imrajat24 opened #46 "Setup the resource/media folder for the project"
# Expected Behavior

The folder should include the hero-image, links to various social media platforms and the logo of the project.

# Current Behavior
There is no resources /media folder present until now.

[2019-03-13 02:26] abhishek71994 commented on #46
How is  the work going on this?

[2019-03-13 02:29] abhishek71994 opened #47 "Setup Redux and material UI"
# Expected Behavior

Expected to see a basic store setup and the Material UI framework to be implemented in the code.

# Current Behavior

No redux or material UI implemented

[2019-03-13 02:30] abhishek71994 commented on #47
#44 solves this issue

[2019-03-13 02:34] #47 closed

[2019-03-13 02:34] #34 closed

[2019-03-13 02:34] #18 closed

[2019-03-13 09:01] 9snehal opened #48 "Fix ESLINT Warnings"
# Expected Behavior
 Fix ESLINT Warnings.

[2019-03-13 14:22] souka1 commented on #48
I would like to work on it

[2019-03-13 17:06] palashg7563 commented on #27
i am working on this one ;-D

[2019-03-13 17:21] palashg7563 commented on #46
for this i have some of the svg ready for the project!

[2019-03-14 07:01] abhishek71994 commented on #27
@palashg7563 Create another issue to setup
* mongo Connection/schema design
* User(Mentor) Schema
* Using this via graphql

[2019-03-14 07:03] abhishek71994 commented on #48
@9snehal update a PR with your proposed changes and take @souka1 's help if you need it.

[2019-03-14 07:03] sweezy793 commented on #27
@abhishek71994 I would like to work on some of those issues

[2019-03-14 07:23] palashg7563 opened #49 "MongoDB connection"
mongoDB server connection working with the backend

[2019-03-14 07:27] palashg7563 commented on #27
@abhishek71994 i think schema design all this stuff will come under this issue as mongodb is different one so i created a different one and and as requested i would like to work on the #49 and #27

[2019-03-14 14:10] abhishek71994 commented on #49
Please provide a more in-depth description, please. Would you be working on this issue?

[2019-03-14 14:24] abhishek71994 commented on #46
@palashg7563 check #50 , is there any resource that you wanna add? If so, ask @imrajat24 to add them in the PR as well.

[2019-03-14 16:48] palashg7563 commented on #49
as you referenced there should be MongoDB server running and yes I am working on this one as I can't assign myself in the github

[2019-03-17 07:58] abhishek71994 opened #53 "[FRONTEND] Add propTypes to the project"
# Prerequisites

At the moment, there are no proptypes.

# Expected Behavior

Use react-proptypes to make sure that the valid prop conventions are followed

You can find more info [here](https://reactjs.org/docs/typechecking-with-proptypes.html).

Talk to the mentor/admin before starting this.

[2019-03-17 08:05] sweezy793 commented on #53
I would like to work on this.

[2019-03-17 08:07] abhishek71994 commented on #53
Go ahead. Keep note that you may need to update the PR accordingly.

[2019-03-19 04:03] palashgdev opened #56 "Add a planning docs about Architecture"
# Prerequisites

# Expected Behavior

Please describe the behavior you are expecting

There is different environments for the projects probably for test production and development

There is no testing of backend api and for the components

# Current Behavior

What is the current behavior?

There is no docs for it

## Context

Please provide any relevant information about your setup. This is import

[2019-03-19 06:29] abhishek71994 commented on #46
Closing this isssue, #50 merged

[2019-03-19 06:29] #46 closed

[2019-03-19 06:34] #48 closed

[2019-03-19 06:42] #53 closed

[2019-03-19 06:49] abhishek71994 commented on #45
@imrajat24 referenced and solved this issue in a PR. @akhilmhdh update a PR too if you want it to be merged.

[2019-03-19 15:17] #49 closed

[2019-03-20 06:27] AvinashDhillor commented on #29
Can i work on this issue?

[2019-03-20 07:58] abhishek71994 commented on #29
Have you worked with mutations in graphql? as to solve this, you might need to solve P1 and P2 first.
@palashg7563 @sweezy793 collaborate with @AvinashDhillor .

[2019-03-20 08:13] sweezy793 commented on #29
@AvinashDhillor we would need to complete P1 and P2 first, then only we can approach this.

[2019-03-20 12:04] palashg7563 commented on #29
@sweezy793 first user must exist to check whether user exist or not ...if that so signup api need to made first

[2019-03-20 12:04] palashg7563 commented on #56
@abhishek71994 for this docs i will sending the pull request today

[2019-03-20 12:06] palashg7563 commented on #45
logo is added in the resource folder so i am closing this issue

[2019-03-20 12:07] palashg7563 commented on #45
@abhishek71994 can you close this one as issue is already resolved

[2019-03-20 12:21] sweezy793 commented on #29
Yes, but isn't that a different thing. The first two issues are regarding the creation of mutation for a temporary post and then we will move on for magic link. I think the signup api creation comes somewhere along the way. Correct me if I'm wrong.

[2019-03-21 05:36] abhishek71994 commented on #29
conversations on slack/discord please.

[2019-03-22 18:14] palashg7563 commented on #56
As issue is resolved i am closing this one

[2019-03-24 15:31] sweezy793 opened #58 "Backend : Add menteeType to schema"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

# Expected Behavior
The menteeType is to be added to the schema in server-api/schema/index.js

# Current Behavior
MenteeType is not added

[2019-03-26 06:06] abhishek71994 opened #59 "[BACKEND] Signup P1 sub-section"
# Expected Behavior

The ideal expected behavior is that the dev creates a  mutation that would trigger a mailer and store a temporary value.

*Research* : check this [link](https://docs.mongodb.com/manual/tutorial/expire-data/) and see if that would help with a temporary storage until the user clicks on the link sent to them.

# Current Behavior

None of the changes advised are added

[2019-03-27 03:48] palashg7563 opened #61 "Add a cluster module"
# Prerequisites
Knowledge of node.js cluster module

# Expected Behavior

Please describe the behavior you are expecting

Utilization of full core of CPU

# Current Behavior

Does not have cluster module

## Steps to Reproduce

Will use the node js core cluster module

For more information
https://nodejs.org

Updated(@abhishek71994):
For basic level knowledge of beginners working on issues related

[2019-03-30 13:56] abhishek71994 opened #63 "Create production and Dev environment"
# Expected Behavior

Write NPM scripts for running the production and dev server

[2019-04-01 09:03] palashg7563 commented on #61
#62  resolved this one

[2019-04-01 09:03] #61 closed

[2019-04-01 09:03] palashg7563 commented on #63
@abhishek71994 can you please close this issue as #62 resolves this one

[2019-04-02 02:05] abhishek71994 opened #64 "[Backend]Create magic link for user"
# Expected Behavior

When the user signs up, the user shall be asked for
* email
* username

This should be stored in a cached/temporary storage. You have the freedom to decide what you wannna do.

The links that I thought would help are
https://www.npmjs.com/package/passport-magic-link
https://medium.com/@aleksandrasays/sending-magic-links-with-nodejs-765a8686996

# Current Behavior

No feature i

[2019-04-27 12:37] abhishek71994 opened #65 "[Testing] Setup the environment for backend server testing"
Right now there are no tests.

But the intention in future is to implement a CI so need some basic tests for that.

You can use https://kolosek.com/testing-graphql-server/ for more information.

Convey in the slack/discord channel if you are willing to work on this ticket.

[2019-05-07 08:55] abhishek71994 opened #67 "[Setup] Get husky setup for linting tests"
https://github.com/typicode/husky

[2019-05-07 17:57] wildcod commented on #4
I want to work on this issue can I work ?

[2019-05-07 18:16] wildcod commented on #4
please give Slack link

[2019-05-08 02:48] abhishek71994 commented on #4
https://discord.gg/FyZjPf
Join the discord channel. We use discord at the moment for communication.

[2019-05-08 08:13] wildcod commented on #4
can you please tell me what are the api you want in the backend?

[2019-05-09 04:50] abhishek71994 opened #68 "[Update] update and fix all the modules in package.json"
Update all the packages and then if it breaks the app then fix that too.

[2019-05-09 09:15] wildcod commented on #68
can I work on this issue?

[2019-05-09 16:07] abhishek71994 commented on #68
Sure GO for it. Assigning you this issue. Follow https://github.com/WrippleFoss/mentorFix/blob/master/contributing.md

[2019-05-10 12:16] #68 closed

[2019-05-11 13:47] abhishek71994 opened #71 "Update the template of Issue creation and PR creation"
![Screen Shot 2019-05-11 at 9 40 32 PM](https://user-images.githubusercontent.com/8072400/57570586-33f10400-7436-11e9-80ad-85315977d754.png)
![Screen Shot 2019-05-11 at 9 40 48 PM](https://user-images.githubusercontent.com/8072400/57570589-39e6e500-7436-11e9-8bef-cf997242a980.png)

Saw these two pop up. Anyone wants to see what the deal is here?

[2019-05-15 08:02] abhishek71994 opened #72 "[BACKEND] Update the folder structure"
Update the folder structure based on some universal convention which can be mentioned in the readme and contribution.md

So that everyone else can follow that too.

[2019-05-16 17:52] #67 closed

[2019-05-18 14:31] abhishek71994 opened #73 "[Testing] Setup front end view testing"

[2019-05-19 04:18] abhishek71994 opened #75 "CI error"
Getting a CI error https://circleci.com/gh/WrippleFoss/mentorFix/8
Need to fix it.

The tests are written and failing only for the front end folder.

[2019-05-19 04:19] abhishek71994 commented on #73
https://circleci.com/gh/WrippleFoss/mentorFix/8

Issue update.
Also, the test with Jest and Enzyme are failing and need to be configured.

[2019-05-26 15:43] #75 closed

[2019-05-26 15:44] #73 closed

[2019-05-26 15:44] #21 closed

[2019-06-03 04:13] abhishek71994 commented on #72
Need to update the documentation for the update

[2019-06-03 04:13] #72 closed

[2019-06-03 04:16] abhishek71994 opened #77 "[FRONT-END]Setup Routes"
Use Reach Router to setup the following shell component.

`PublicLayout` - does not authenticate user.
`LoginLayout` - Handles the loggin in and creating session for the user (Form goes here)
`AppLayout`- The protected routes which allow the user to interact.

Use HOC and context to set it up.

[2019-06-04 08:24] abhishek71994 opened #78 "[Backend] Setup auth presenter and backend authorization"

[2019-06-04 11:05] wildcod commented on #77
I want to take this?

[2019-06-04 11:30] abhishek71994 commented on #77
Go ahead. You maybe have to create some components. Let me know if you have any questions and I can update you a bit more on the expectations, I'll update that in the issue as well.

Are you in the discord chat?

[2019-06-04 11:34] wildcod commented on #77
Yes

[2019-06-05 09:15] abhishek71994 opened #79 "Create a AuthContext"
Create and authContext to wrap around the entire application routes.

[2019-06-05 11:40] abhishek71994 opened #80 "[FRONT-END]Profile page details"
The profile page will be the same for both mentor and mentee. Gradually we will be branching out.

For now, the following details are

**Public**
[code]
**If a Connection**
[code]

[2019-06-06 05:01] abhishek71994 opened #81 "Create login form"
use Formik to create a basic form that uses the context to keep make an api call to the backend for login/signup authentication.

or use https://react.semantic-ui.com/collections/form/
For the moment.

[2019-06-06 06:30] wildcod commented on #77
Shall I create empty component that you mentioned above?

[2019-06-06 06:30] abhishek71994 commented on #77
Just open a PR with the changes. I can review it and leave comments which will probably be more helpful than me and you talking about it beforehand.

[2019-06-06 13:18] abhishek71994 commented on #63
This feature is to be added when the devops sections is being done.

[2019-06-06 13:18] #63 closed

[2019-06-06 16:51] wildcod commented on #77
I saw the App.js file you use react-router there but you told me to use reach-router ?

[2019-06-06 16:53] abhishek71994 commented on #77
Yeah I would like you to refactor that. It's simpler and can be wrapped around contexts easily.

[2019-06-06 16:54] wildcod commented on #77
okay I'll do it

[2019-06-09 03:40] abhishek71994 commented on #31
![image](https://user-images.githubusercontent.com/8072400/59154694-50bb3e80-8aab-11e9-9dd7-26116a7aadf4.png)
Bumping this issue up for grabs.

[2019-06-09 04:03] abhishek71994 opened #85 "write more tests for CI"
The need for more scrutinized tests is growing as we are gradually growing with every API and every component.

Update the `/specs` folder.

[2019-06-24 14:25] rahulmawari opened #88 "Update readme.md and contributing.md"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

# Expected Behavior

Please describe the behavior you are expecting

# Current Behavior

What is the current behavior?

# Failure Informat

[2019-06-24 16:31] wildcod commented on #80
I want to work on this issue but can you describe  how it looks means any sample image that you show me.

[2019-06-24 16:37] abhishek71994 commented on #80
Hey @wildcod , We are working with a designer to come up with designs. It will be better if you pick up the issue after the designs are finalized. So that you have a path to follow through.

[2019-06-29 08:33] #88 closed

[2019-06-30 08:10] abhishek71994 opened #91 "Fix failing tests for CI"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed

# Expected Behavior

Please describe the behavior you are expecting

# Current Behavior

What is the current behavior?

# Failure Informat

[2019-06-30 08:35] wildcod commented on #91
I can take care of this

[2019-06-30 08:36] abhishek71994 commented on #91
Go for it. Have to write the right unit test.

[2019-06-30 08:37] wildcod commented on #91
Okay

[2019-08-03 03:48] #91 closed

[2019-08-03 04:04] abhishek71994 opened #100 "Change testing environment"
Change testing environment to `https://testing-library.com/` as this is supposed to be lite-weight and easier to manage.

[2019-09-11 20:22] ShreyaPrasad1209 opened #117 "landing page unresponsive for mobile devices"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

# Expected Behavior

Please describe the behavior you are expecting

# Current Behavior

What is the current behavior?

# Failure Informat

[2019-09-12 00:36] abhishek71994 commented on #117
Thanks for creating this. I haven't setup the responsiveness for the SASS.
Also all the measurements are to be in relative terms.
Would you like to work on this? @ShreyaPrasad1209

[2019-09-12 03:04] ShreyaPrasad1209 commented on #117
Yes I'd love to.

On Thu, 12 Sep 2019, 6:06 am Abhishek Prasad, <notifications@github.com>
wrote:

[2019-09-12 03:08] abhishek71994 commented on #117
Perfect. I'll share the figma designs with you later if you need context of it. I need to come up with better style guides. But at the moment, maybe set the styling to `flex` and use `rem` for width and height?

[2019-12-19 06:42] abhishek71994 commented on #117
Worked and done. Check `./styles` to get more details about the sass mixins.

[2019-12-19 06:42] #117 closed

[2019-12-19 06:42] #81 closed

[2019-12-19 06:43] #77 closed

[2019-12-19 06:43] #56 closed

[2019-12-19 06:46] abhishek71994 opened #162 "[FRONT_END] Design pages with mock data for now"
Some pages based on designs are not ready to be connected to the backend.
* Use constant data
    * JSON
    * Add some type check whenever working with functions and passing in value

[2020-02-22 19:14] eKta37 commented on #79
I would like to work on this issue, please assign this task to me.

[2020-02-22 19:16] eKta37 commented on #5
I would like to work on this issue, please assign this task to me.

[2020-02-22 19:17] abhishek71994 commented on #5
@eKta37 This issue has been tagged obsolete. This won't be a focus for any milestones.

[2020-02-22 19:18] abhishek71994 commented on #79
I am assigning it to you, will be updating this issue with some information tomorrow.

[2020-02-22 19:19] eKta37 commented on #80
I would like to work on this.

[2020-02-22 19:20] eKta37 commented on #79
yeah sure.

[2020-02-28 13:37] vipuldcoder commented on #45
I am interested with the issue.

[2020-02-28 13:39] vipuldcoder commented on #27
I am interested with the issue.

[2020-02-29 07:12] vipuldcoder commented on #71
I am interested with the issue.

[2020-02-29 07:16] vipuldcoder commented on #28
I am interested with the issue.

[2020-03-01 04:11] imrishabh18 commented on #64
Hey, i am interested in working on this issue.

[2020-03-01 06:46] #162 closed

[2020-03-01 06:46] #100 closed

[2020-03-01 06:46] #85 closed

[2020-03-01 06:46] #80 closed

[2020-03-01 06:47] #79 closed

[2020-03-01 06:47] #78 closed

[2020-03-01 06:47] #65 closed

[2020-03-01 06:48] #58 closed

[2020-03-01 06:48] #30 closed

[2020-03-01 06:48] #26 closed

[2020-03-01 06:48] #19 closed

[2020-03-01 06:49] #6 closed

[2020-03-01 06:49] #5 closed

[2020-03-01 06:49] #4 closed

[2020-03-01 23:08] abhishek71994 opened #196 "Login Screen"
The solution to this issue is expected to:
* implement Login design according to Figma
* implement gql to hit the backend API to verify the user logging in, to authenticate and:
  * In case the user is not present, show the corresponding error message.
  * In case the password doesn't match, show the corresponding error message.
  * In case the user is not verified, show the `User not verified` pa

[2020-03-01 23:09] abhishek71994 opened #197 "Sign Up screen"
The current issue is expected to have a solution to:
* Implement the design according to the designs provided.
* Hit the backend using gql to check the following:
    * If the user exists, show the corresponding error message
    * If the user exists and is not verified, show the corresponding error message
    * If the user doesn’t exist:
        * Check for the validity of the email
        * On

[2020-03-02 08:07] Jayashree-panda opened #198 "Replace the sign up button with login"
Currently, when you open the login screen, the button is written with sign up.
You just need to change the sign up button into login.

[2020-03-02 08:10] NVS16 commented on #198
I want to work on this :)

[2020-03-02 08:14] Jayashree-panda commented on #198
@NVS16 Yeah sure. Go ahead:)

[2020-03-02 11:47] #27 closed

[2020-03-02 11:48] #28 closed

[2020-03-02 11:48] #29 closed

[2020-03-02 11:48] #31 closed

[2020-03-02 11:48] #32 closed

[2020-03-02 11:48] #33 closed

[2020-03-02 11:49] #45 closed

[2020-03-02 11:49] #59 closed

[2020-03-02 11:49] #64 closed

[2020-03-02 11:49] #71 closed

[2020-03-02 18:49] samridhijain27 commented on #196
I would like to work on this issue.

[2020-03-02 19:56] harshita130602 commented on #197
I would like to work on it.

[2020-03-03 04:47] abhishek71994 commented on #197
Go ahead @harshita130602, If you have any questions do check-in via slack.

[2020-03-03 04:49] abhishek71994 commented on #196
@samridhijain27 , issue is yours. Contact us if any issue.

[2020-03-03 16:32] NikitaMasand opened #200 "remove h from mentorFix clone address"
git clone hhttps://github.com/WrippleFoss/mentorFix.git
remove h

[2020-03-03 16:35] imrishabh18 commented on #200
@NikitaMasand Are you resolving this typo or should i do it ?

[2020-03-03 16:44] NikitaMasand commented on #200
I am on it

[2020-03-05 02:27] #198 closed

[2020-03-05 03:51] abhishek71994 commented on #200
Thanks for solving this in #201

[2020-03-05 03:51] #200 closed

[2020-03-05 08:39] abhishek71994 commented on #196
Update: Get the design as responsive and as close to the design as possible. Not a big blocker.

[2020-03-05 08:39] abhishek71994 commented on #197
Update: Get the design as responsive and as close to the design as possible. Not a big blocker.

[2020-03-05 13:16] NikitaMasand opened #203 "add yarn parcel bundler command in the installation process in readme"
yarn global add parcel-bundler

[2020-03-05 13:16] NikitaMasand commented on #203
I am working on changing it.

[2020-03-06 03:06] abhishek71994 commented on #203
Fixed in #204

[2020-03-06 03:06] #203 closed, assigned to NikitaMasand

[2020-03-06 03:09] abhishek71994 commented on #200
@imrishabh18 You can take up other issues if you want.

[2020-03-14 02:40] abhishek71994 commented on #197
It's been 11 days without a PR @harshita130602 . It would be great if you can update how much work is done if any. Else someone else can start on it.

[2020-03-14 02:41] abhishek71994 commented on #196
It's been 11 days without a PR @samridhijain27 . Would like an update on how much work is done. If not, someone else can take it up.

[2020-03-14 08:04] harshita130602 commented on #197
Sir, I am busy with my exams. I think I won't be able to continue right now. So, you can assign it to someone else.

[2020-03-14 08:08] imrishabh18 commented on #197
@abhishek71994 assign me this

[2020-03-18 13:45] abhishek71994 commented on #197
@imrishabh18 assigned to you, please create at least a PR in 3-4 days.

[2020-03-19 02:58] abhishek71994 opened #206 "Create a basic Card component"
![image](https://user-images.githubusercontent.com/8072400/77026787-7cbb0700-69cf-11ea-88da-e275185d311a.png)

Create this basic card component which will render the children inside it.
Check out the link [here](https://www.figma.com/file/IuUnvGJc0ZqjUsnXF0DtFon3/MentorFix?node-id=21%3A10)

[2020-03-19 11:45] Samarjiit commented on #206
hi, @abhishek71994 I would like to work on it. actually I am active from today in the slack channel. should I need some prior knowledge? I have to make it in Figma or simple HTML, CSS code.

[2020-03-19 13:13] abhishek71994 commented on #206
@Samarjiit one has to use the link given to make a react component.

[2020-03-19 14:12] Samarjiit commented on #206
I can make a react card component but the link directs me to the Figma platform.

[2020-03-19 18:16] sharmakeshav10 commented on #206
@abhishek71994 please assign me this issue and further guide me to proceed for the same.

[2020-03-20 01:28] Samarjiit commented on #206
hi @sharmakeshav10, actually  i am working on it.

[2020-03-20 03:03] abhishek71994 commented on #206
Please dont start work before the ticket is assigned to you, this is a `GSSOC20` ticket if you are a participant, ping in the public group and talk to me there.

[2020-03-20 03:45] abhishek71994 opened #208 "Create a nav bar component"
![image](https://user-images.githubusercontent.com/8072400/77133959-ff12fc00-6a9f-11ea-8182-2743e09a800a.png)

* The navbar component is supposed to change according to the state of login or sign up for the user.
* It should also reflect on the specific roles that each user has.

[2020-03-20 04:15] sharmakeshav10 commented on #208
@abhishek71994 please assign me this and further guide me to proceed for the same.

[2020-03-20 04:17] abhishek71994 commented on #208
Try getting a navbar component setup first then make a PR. DM me to set up a call to talk further.

[2020-03-20 10:16] Aman-Codes opened #209 "Update PULL_REQUEST_TEMPLATE.md"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

# Expected Behavior

This would ease the process of reviewing the pull request by the mentor. I am sharing my created sample template for

[2020-03-20 13:35] abhishek71994 commented on #209
I would like you to include:
## Screenshots (in case of UI changes)

### Issue that this PR solves(Tag the number)

Go ahead with this issue.

[2020-03-20 15:20] abhishek71994 commented on #209
@Aman-Codes are you contributing as a participant of GSSOC20?

[2020-03-20 15:23] Aman-Codes commented on #209
Yes Sir I am a GSSOC 2020 participant

[2020-03-21 16:00] ashishnagpal2498 commented on #206
Hi @abhishek71994 can I work on this issue?

[2020-03-22 13:46] robot-with-feelings commented on #196
hi, is the issue still open or is someone working on it? if not, i'd like to work on this.

[2020-03-22 22:16] abhishek71994 commented on #196
@robot-with-feelings you can take it up if you want.

[2020-03-23 09:39] robot-with-feelings commented on #196
@abhishek71994 sure. I'd like to implement screen 1.2 using CSS. If that's okay then you can assign me the issue and I'll start working.

[2020-03-23 09:40] divyaprakashrx commented on #196
@abhishek71994 I want to work on this issue. I have worked in many front-end works. Please assign it to me.

[2020-03-23 16:42] abhishek71994 commented on #196
@robot-with-feelings The repo uses modular scss to style things, assigning you the issue, make a PR in 2-3 days and we will take it up from there.

@divyaprakash-Rx There are other issues that are inactive, if it has been inactive for more than 3 days, comment, I'll assign it.

[2020-03-23 16:47] divyaprakashrx commented on #197
@abhishek71994 I want to work on this issue.Please assign it to me

[2020-03-25 13:12] abhishek71994 commented on #197
@imrishabh18 unassigning you. This needs to be done asap

[2020-03-25 14:00] abhishek71994 commented on #208
@sharmakeshav10 unassigning this issue as there are no PRs nor any communication in the chat.

[2020-03-25 14:24] abhishek71994 commented on #206
@ashishnagpal2498 do you have the front-end platform setup?

[2020-03-25 17:00] abhushanaj commented on #208
@abhishek71994 May I try this?? I'm a GSSoc participant. Thank you!

[2020-03-25 19:01] me-bhavya commented on #208
I am a gssoc 2020 participant and would love to work on this issue. Please assign this to me.

[2020-03-26 05:30] robot-with-feelings commented on #196
hi @abhishek71994 just wanted to update you that I'm working on it and will send the PR today itself.

[2020-03-27 14:38] abhushanaj opened #219 "Addition of Github Actions to do some cool stuff"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

I want to add Github Actions to achieve the following:
- Greetings message on issues and PR's
- Detection of stale issues and PR and add l

[2020-03-28 11:32] divyaprakashrx commented on #197
@abhishek71994 Please check the deign i have implemented.
![Screenshot (98)](https://user-images.githubusercontent.com/55322166/77822116-d4671a00-7115-11ea-8fae-1bd42807df80.png)

[2020-03-28 14:20] abhishek71994 commented on #197
@divyaprakash-Rx please create a PR, I would like to test it out 💯 . It looks like great work.

[2020-03-28 14:21] divyaprakashrx commented on #197
Ok

[2020-03-28 14:28] ranjal007 commented on #206
Hey! @abhishek71994 I want to contribute in this issue GSSOC 20 . Please assign it to me.

[2020-03-28 18:40] abhishek71994 commented on #206
@ranjal007 same question for you, do you have the front end setup?

[2020-03-29 13:03] vipuldcoder opened #223 "Create CONTRIBUTE.md"
Is your feature request related to a problem? Please describe.
This is feature which help new contributor to understand how they can contribute project and how we can help this project more effect and do understand what this project really is and how we can get started. Let's get started with making this project more better 👍

Describe the solution you'd like
Build a Document CONTRIBUTE.md that he

[2020-03-29 19:14] ashishnagpal2498 commented on #206
Yes @abhishek71994 . I am able to see sign-up and login page.

[2020-03-30 12:43] dibakar95 commented on #208
Hi, @abhishek71994 As I see this issue has been stale since 4-5 days. I am a GSSOC 20 participant. I would like to take up this issue. _Looking forward to your guidance_.

[2020-04-01 21:16] aditianshu commented on #208
@abhishek71994 I would like to work on this issue. I have experience working with React.
GSSoC '20.
Thanks!

[2020-04-02 03:57] abhishek71994 commented on #208
Sorry guys, this issue will no longer be a GSSOC issue

[2020-04-02 04:01] dibakar95 commented on #209
@abhishek71994 it's been stale for 10 days. Can I take up this issue. #GSSOC2020

[2020-04-02 04:07] dibakar95 commented on #206
@abhishek71994 Can I work on this issue. It has been stale for quite long.

[2020-04-02 06:21] abhishek71994 commented on #206
@ashishnagpal2498  is working on it @dibakar95 , apologies

[2020-04-02 11:38] NikitaMasand commented on #196
Is this issue open?
If so, I would like to contribute.

[2020-04-03 08:54] jamesjose03 commented on #223
@vipuldcoder I would like to work on this issue. I am a GSSOC participant

[2020-04-05 07:16] NikitaMasand commented on #206
Is this issue open? If so, I would like to work on it.

[2020-04-05 07:33] abhishek71994 commented on #196
@robot-with-feelings no PRs were made. Assigning it to @NikitaMasand

[2020-04-05 07:47] abhishek71994 commented on #206
Giving it to @dibakar95 for the moment, @NikitaMasand Once you are done with login, if this issue still doesn't have a PR, you can take this up.

[2020-04-05 08:51] dibakar95 commented on #206
@abhishek71994 thank you.

[2020-04-05 10:37] ashishnagpal2498 commented on #206
Hi @abhishek71994 , I was working on this issue.

[2020-04-05 14:29] abhishek71994 commented on #206
@ashishnagpal2498 this is not an issue that should 7 days, neither did you reach out to me on slack to ask or communicate anything. I didn't get a PR from you. Sorry, but I can't have stale issues lying around.

[2020-04-05 15:30] ashishnagpal2498 commented on #206
okay , no issues. But issue was assigned to me 3 days ago only.

[2020-04-08 20:10] Dishebh commented on #206
Is the issue still up for grabs? If yes, can I take it?

[2020-04-08 20:13] Dishebh commented on #209
@abhishek71994 is the issue still up for grabs? I see there's a pr for it, bit hasn't been reviewed yet.

[2020-04-08 20:18] Dishebh commented on #197
@divyaprakash-Rx any updates on the pr?

[2020-04-20 05:38] Kuljeet-123 commented on #223
@vipuldcoder  @abhishek71994 Can I work on this issue??

[2020-04-20 05:40] Kuljeet-123 commented on #208
@abhishek71994  I am a GSSOC'20 participant Can I work on this issue??

[2020-04-27 20:19] Ruchika30 commented on #196
Hi. If its available I would like to work on it . @abhishek71994

[2020-04-28 06:47] NikitaMasand commented on #196
@Ruchika30 I am currently working on it. I had some college work in between.
@abhishek71994 Will raise the pr in a few hours.

[2020-04-29 13:35] #196 closed

[2020-05-02 07:35] Ruchika30 commented on #208
is this done ? If not Can I work on this issue? @abhishek71994 . Please update

[2020-05-02 07:43] abhishek71994 commented on #208
Go ahead @Ruchika30 , if you have any doubts you can reach out to me on slack or discord

[2020-05-04 08:22] Dishebh commented on #209
@Aman-Codes Can I take this issue?

[2020-05-11 05:33] ampsteric commented on #223
i can work on this.plz assign

[2020-05-19 07:20] #197 closed

[2020-05-19 07:20] #206 closed, assigned to nobody

[2020-05-19 07:20] #208 closed, assigned to Ruchika30

[2020-05-19 07:21] abhishek71994 opened #242 "Connect GQL from Frontend to backend and create user"

[2020-05-19 07:37] abhishek71994 opened #243 "Create button component"

[2020-05-19 13:12] dibakar95 commented on #206
@abhishek71994 At least you could have reviewed the PR

[2020-05-19 13:15] abhishek71994 commented on #206
Hey @dibakar95 Due to some circumstances, we had to stop all contributions to the project as we are rethinking our approach. Thanks for your PR. Sorry, it couldn't be merged, as the product priorities are re-evaluated at the moment.

[2020-06-02 10:44] Samriddhi-1998 commented on #243
Can you please provide a description.

[2020-12-17 09:46] kavyashree1903 commented on #243
@abhishek71994 Can I work on this?

[2020-12-22 04:14] abhishek71994 commented on #243
Hey @kavyashree1903, thank you for the interest, but we have deprecate this project, apologies.

[2020-12-22 04:14] #243 closed, assigned to abhishek71994